.my-header, .my-footer{
  height: 8vh;
  background-color: #2c3e50;
  color: white;
}
.my-jumbotron{
  height: 60vh;
}
.my-card{
  height: 30vh;
  border-radius: 10px;
  margin: 1rem .5rem;
}
.my-contact{
  height: 60vh;
}
.my-social{
  height: 20vh;
  background-color: #3a546d;
}
.my-line{
  display: inline-block;
  width: 10%;
  height: 2px;
}
h2, h3, p{
  text-transform: uppercase;
}
/* background color */
.my-white{
  background-color: white;
}
.my-green{
  background-color: #1abc9c;
  color: white;
}
.my-red{
  background-color: #ba4b63;
}
.my-light-blu{
  background-color: #1ea4b6;
}
.my-black{
  background-color: #140f0f;
}
.my-blu{
  background-color: #1c83c1;
}
.my-electric-blu{
  background-color: #0e38b5;
}
.my-dark-ping{
  background-color: #ccb2a3;
}